.sb_wrapper{
	position:relative;
	top:90px; left:550px;
	margin:0;
	padding:0;
	width:370px;
	height:250px;
	
}
.sb_wrapper input[type="text"],
ul.sb_dropdown{
	border:1px solid #fff;
	font-size:15px;
	font-weight:bold;
	-moz-box-shadow:1px 1px 3px #555;
	-webkit-box-shadow:1px 1px 3px #555;
	-box-shadow:1px 1px 3px #555;
	outline:none;
	padding:6px 5px 6px 20px;
	text-shadow:1px 1px 1px #fff;
	width:295px;
	float:left;
	margin:3px 0px;

}
ul.sb_dropdown{
	float:left;
	list-style:none;
	padding:6px 5px;
	background:rgba(255,255,255,0.6);
	display:inline-block;
}
ul.sb_dropdown li{
	font-size:16px;
	line-height:32px;
	height:35px;
	width:100%;
	font-size:13px;
	font-weight:bold;
}


ul.sb_dropdown li input[type="radio"]{
	margin:10px 4px 0 5px;
	margin:10px;
	color:red;
	display:none;
	}
label{
-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
	transition:all 0.3s;
	}
ul.sb_dropdown li input[type="radio"]:checked + label  {
	font-weight:bold;
	font-size:15.4px;
	text-align:center;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
	transition:all 0.3s;
	
}
ul.sb_dropdown li input[type="radio"]:checked + label i {
	 color:red;
	opacity:1;
	
}

ul.sb_dropdown li.sb_filter{
	text-transform:uppercase;
	border-bottom:1px solid black;

	}
ul.sb_dropdown li input[type="radio"] + label:hover{
color:red;
font-weight:bold;
}	
	
input.sb_search{
	background:#0087c1 url(../css/searchbox/icons/search.png) no-repeat center center;
	background-size:20px 20px;
	height:35px;
	width:35px;
	float:left;
	border:none;
	margin:3px 0px;
	-moz-box-shadow:1px 1px 3px #555;
	-webkit-box-shadow:1px 1px 3px #555;
	-box-shadow:1px 1px 3px #555;
	outline:none;
	cursor:pointer;
	-webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
	-ms-transition:all 0.4s;
	-o-transition:all 0.4s;
	transition:all 0.4s;
	
	
	}
input.sb_search:hover{
	background-color:#41afdf;
}
.fa{
margin-left:10px;
opacity:0;
margin-top:7px;
}
label{
cursor:pointer;
	margin-left:10px;
	}



@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation: shake 1s linear;
  -moz-animation: shake 1s linear;
   animation-name: shake 1s linear;
}